 

.main_header {
    width: 100%;
    min-width: 980px;
    background-color: #084b8a
}

.head {
    width: 980px;
    margin: 0 auto;
    padding: 0px;
    height: 85px;
}

.head li {
    list-style-type: none;
    float: left;
    text-align: left;
    color: white;
}

.head .logo {
    margin-top: 30px;

}

.head .logo a {
    color: white;
    text-decoration: none;
    font-size: 30px;
    font-weight: 900px;
}

.head form {
    margin-top: 15px;
    float: right;
}

.head form li {
    font-size: 13px;
    margin-left: 15px;
}

.head form li a {
    color: #a9bcf5;
    text-decoration: none;
}

.head form input[type="submit"] {
    height: 25px;
    margin-top: 20px;
    background-color: #084b8a;
    color: white;
    border-style: solid;
    border-width: 1px;
    border-color: #084b8a;
}

.head form input[type=text] {
    margin-top: 3px;
    margin-bottom: 3px;
    border: 0px solid #084b8a;
    height: 25px;
    width: 150px;
    padding-left: 5px;
}

.head form input[type="password"] {
    margin-top: 3px;
    margin-bottom: 3px;
    border: 0px solid #084b8a;
    height: 25px;
    width: 150px;
    padding-left: 5px;
}

#wrapper {
    margin: 0 auto;
    width: 980px;
    text-align: center;
    padding: 0px;
}

#wrapper div {
    float: left;
    font-family: helvetica, arial, sans-serif;
}

#wrapper #div1 {
    margin-top: 30px;
    width: 590px;
    text-align: left;
    float: left;
}

#wrapper #div1 p{
    font-size: 20px;
    font-family: arial;
    font-weight: bold;
    margin: 2px;
    margin-left: 12%;;
    color: #0e385f; 
}

#wrapper #div2 {
    margin-top: 10px;
    width: 390px;
    text-align: left;
    float: right;
}

#wrapper #div2 h1 {
    font-size: 36px;
    margin: 0px;
    color: #2e2e2e; 
}

#wrapper #div1 p {
    font-size: 18px;
    color: #2e2e2e; 
}

#wrapper #div2 li {
    list-style-type: none;
    margin-top: 10px;
}

#wrapper #div2 li .firstname {
    margin-left: 2px;
    width: 45%;
}

#wrapper #div2 li .surname{
    margin-left: 2px;
    width: 45%;
}

#wrapper #div2 li input[type="text"]{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    font-size: 18px;
    padding-left: 10px;
    border: 1px solid #bdbdbd;
}

#wrapper #div2 li input[type="password"]{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    font-size: 18px;
    padding-left: 10px;
    border: 1px solid #bdbdbd;
}

.submit {
    width: 160px;
    padding: 10px;
    background-color: rgb(87,145,61);
    color: #fff;
    border: 1px solid rgb(87,145,61);
    border-radius: 4px;
}





